@media (max-width: 1360px) {
    .container {
        max-width: 1360px;
        margin: 0 50px;
        padding: 0;
    }

    .header-top {
        padding: 29px 0;
    }

    .burger {
        position: relative;
        z-index: 2;
        display: block;
        width: 36px;
        height: 28px;
        color: #ffffff;
        background-color: transparent;
        border: none;
        transition: color .3s ease;
    }

    .burger:focus {
        outline: 2px solid var(--color-orange);
        outline-offset: 3px;
    }

    .burger::before,
    .burger::after {
        content: "";
    }

    .burger span,
    .burger::before,
    .burger::after {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: currentColor;
        transform-origin: right;
        transition: transform .3s ease;
    }

    .burger::before {
      margin-top: -1px;
        transform: translateY(calc(-100% - 9px));
    }

    .burger span {
        width: 28px;
        top: calc(50% - 1px);
        transition: opacity .3s ease, transform .3s ease;
    }

    .burger::after {
        width: 24px;
        margin-top: -1px;
        transform: translateY(calc(100% + 9px));
    }

    .burger:active {
        color: var(--color-dark-orange);
    }

    .burger:active span {
        transform: scaleX(calc(25 / 30));
    }

    .burger:active::after {
        transform: scaleX(calc(18 / 30)) translateY(calc(100% + 5px));
    }

    .is-opened.burger span,
    .is-opened.burger::before,
    .is-opened.burger::after {
        transform-origin: center;
    }

    .is-opened.burger::before {
        width: 30px;
        top: 50%;
        margin-top: 0;
        transform: translateY(-50%) rotate(45deg);
    }

    .burger.is-opened {
        width: 29px;
        height: 29px;
    }

    .burger.is-opened span {
        opacity: 0;
        transform: translateX(-100%);
    }

    .is-opened.burger::after {
        width: 30px;
        margin-top: 0;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
    }

    .header-top__logo {
        margin-left: -5px;
    }

    .header-top__nav {
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1;
        display: none;
        width: 100%;
        height: 100vh;
        padding: 97px 0 50px 50px;
        background-color: #000000;
        transform: translateX(-100%);
    }

    .header-top__menu {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        overflow-y: auto;
    }

    .header-top__list {
        display: block;
        max-height: 100%;
        margin: 0;
        margin-bottom: 120px;
    }

    .header-top__nav.is-opened {
        display: block;
        transform: translateX(0);
        animation-name: menu-open;
        animation-duration: .3s;
    }

    .header-top__nav.is-closed {
        animation-name: menu-close;
        animation-duration: .3s;
    }

    @keyframes menu-open {
        from {
          transform: translateX(-100%);
        }
        to {
          transform: translateX(0);
        }
    }

      @keyframes menu-close {
        from {
          transform: translateX(0);
        }
        to {
          transform: translateX(-100%);
        }
    }

    .header-top__item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .header-top__button {
        display: block;
    }

    .header-top__nav-button {
        position: relative;
        display: inline-flex;
        align-items: center;
        padding: 20px 89px;
        color: var(--color-white);
        transition: color .3s ease-in-out;
        z-index: 1;
        font-weight: 600;
        font-size: 18px;
        line-height: 16px;
        background-color: transparent;
        border: 2px solid #9D5CD0;
        border-radius: 100px;
    }

    .header-top__link:focus::after {
        opacity: 1;
    }

    .header-top__nav-button:hover {
        color: #C283F3;
    }

    .header-top__nav-button:hover .header-top__arrow {
        fill: #C283F3;
    }

    .header-top__nav-button:hover::after {
        opacity: 0;
    }

    .header-top__nav-button:active {
        color: #9D5CD0;
    }

    .header-top__nav-button:active .header-top__arrow {
        fill: #9D5CD0;
    }

    .header-top__nav-button:hover .header-top__arrow-wrap {
        margin-left: -4px;
        padding-left: 4px;
    }

    .header-top__link-search {
        display: none;
    }

    .header-bottom {
        display: none;
    }

    .header__button {
        display: block;
    }

    .search-form-top {
        position: absolute;
        right: 50px;
    }

    .search-form-top__input {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
        background-color: transparent;
        border: none;
        color: var(--color-white);
        border-bottom: 1px solid var(--color-white);
        padding: 0;
        width: 100%;
        margin-right: 24px;
    }

    .search-form-top__input:focus-visible {
        outline: none;
    }

    /** hero **/

    .hero__content {
        padding: 105px 0 115px 0;
    }

    .hero__title {
      width: 89%;
    }

    .hero__text {
        width: 72%;
        margin-bottom: 133px;
        margin-top: -10px;
    }

    /** about **/

    .about__title {
        margin-bottom: 15px;
    }

    .about__text {
        width: 100%;
    }

    /** galery **/

    .gallery-content-left-top__text {
        margin-bottom: 10px;
    }

    .choices {
        min-width: 280px;
    }

    .gallery-swiper {
        width: calc(100% - 330px);
    }

    .gallery-navigation {
        margin-left: 1px;
    }

    .gallery-slide {
        min-height: 315px;
    }

    .gallery-list {
        margin-bottom: 34px;
        margin-left: -1px;
    }

    /** catalog **/

    .catalog-content {
        padding: 81px 0;
    }

    .catalog-content-top {
        margin-bottom: 38px;
    }

    .catalog-content-bottom-left {
        width: 50%;
    }

    .catalog-content-bottom-left__img {
      margin-bottom: 28px;
    }

    .catalog-content-bottom-left__title {
        margin-bottom: 9px;
    }

    .catalog-content-bottom-left__date {
        margin-bottom: 17px;
    }

    .catalog-content-bottom-right {
        width: 50%;
    }

    .catalog-content-top__text {
        width: 100%;
    }

    .accordion__list {
        column-count: 2;
        width: 100%;
        padding: 26px 0;
    }

    .accordion__content-text {
        width: 100%;
        line-height: 21px;
    }

    /** events **/

    .events__content {
        padding: 0 0 120px 0;
    }

    .events__title {
        margin-bottom: 15px;
    }

    .events__item-content {
        padding: 14px 33px 49px 33px;
    }

    .events__item-content-top {
        margin-bottom: 26px;
    }

    .events__time {
        font-weight: 400;
        text-align: end;
        margin-bottom: 5px;
    }

    .events__title-low {
        width: 100%;
        margin-bottom: 5px;
    }

    .events__link {
        margin-bottom: 1px;
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: -44px;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap,8px);
    }

    .events__btn {
        display: none;
    }

    .events-pagination {
        display: block;
    }

    /** projects **/

    #projects {
        padding-top: 41px;
    }

    .projects__title {
        margin-bottom: 16px;
    }

    .project-container {
        width: calc(100% - 106px);
    }

    .projects__item {
        min-height: 128px;
    }

    .projects__text {
        width: 100%;
        margin-bottom: 19px;
    }

    /** contacts **/

    #contacts {
        padding: 42px 0 42px 0;
    }

    .contacts__content {
        flex-direction: column;
        align-items: flex-start;
        margin-left: -1px;
    }

    .contacts__content-left {
        margin-bottom: 23px;
    }

    .contacts__title {
        margin-bottom: 4px;
    }

    .contacts__address {
      font-size: 14px;
  }

    .contacts__content-middle {
        margin-bottom: 28px;
        padding-left: 0;
    }

    .contacts__content-right {
        padding-left: 0;
    }

    .contacts__btn {
        padding: 10.5px 41px;
    }

    /** footer **/

    #footer {
        padding: 38px 0 41px 0;
    }

    .footer__link svg {
        width: 60px;
        height: 64px;
    }

}

@media (max-width: 960px) {

    .title {
        line-height: 38px;
    }

    .container {
        max-width: 960px;
        margin: 0 50px;
    }

    /** header **/

    .search-form-top {
        width: calc(100% - 99px);
        height: 100%;
        align-items: center;
        background-color: #000000;
        z-index: 2;
    }

    .header-top__logo {
        margin-left: -8px;
    }

    .header-top__button-pic {
        width: 27px;
        height: 27px;
    }

    .search-form-top__send-pic {
        width: 26px;
        height: 26px;
    }

    /** hero **/

    .hero__text {
        width: 100%;
    }

    /** about **/

    .about__content {
        padding: 93px 0 70px 0;
    }

    .about__title {
        margin-bottom: 29px;
    }

    /** galery **/

    #gallery {
        padding: 94px 0 80px 0;
    }

    .gallery-content {
        flex-direction: column;
    }

    .gallery-content-left-top__title {
        margin-bottom: 29px;
    }

    .choices {
        max-width: 280px;
    }

    .choices:last-child {
        margin-bottom: 40px;
    }

    .choices__list {
        background-color: #000000;
    }

    .choices__list--single {
        background-color: transparent;
    }

    .gallery-swiper {
        width: 100%;
        padding-top: 6px;
    }

    .gallery-slide {
        min-height: 330px;
    }

    .gallery-slide::before {
        min-height: 330px;
    }

    .gallery-navigation {
        margin-left: 0;
    }

    .gallery-slides-container {
        width: 100%;
    }

    .accordion__content-text {
        width: 75%;
    }

    /** catalog **/

    .catalog-content {
        padding: 94px 0;
    }

    .catalog-content-top {
        margin-bottom: 20px;
    }

    .catalog-content-top__title {
        margin-bottom: 29px;
    }

    .catalog-content-bottom {
        flex-direction: column-reverse;
    }

    .catalog-content-bottom-left {
        width: 100%;
    }

    .catalog-content-bottom-left__img {
        margin-bottom: 18px;
        width: 100%;
    }

    .catalog-content-bottom-left__title {
      margin-bottom: 8px;
    }

    .catalog-content-bottom-left__date {
        margin-bottom: 7px;
    }

    .catalog-content-bottom-right {
        width: 100%;
        margin-bottom: 50px;
        margin-top: 0;
    }

    .accordion__list {
        column-count: 3;
        padding: 42px 0;
    }

    /** events **/

    .events__content {
        padding: 0 0 133px 0;
    }

    .events__title {
        margin-bottom: 29px;
    }

    .events__item-content {
        padding: 14px 17px 49px 33px;
    }

    .events__item-content-top {
      margin-bottom: 27px;
    }

    .events__time {
      margin-bottom: 4px;
    }

    .events__title-low {
        width: 96%;
    }

    .events__text {
        width: 91%;
    }

    /** project **/

    #projects {
      padding-top: 54px;
    }

    .project-container {
        max-height: 106px;
    }

    .projects__title {
        margin-bottom: 39px;
    }

    .projects__text {
        margin-bottom: 28px;
    }

    .projects__title-low {
        margin-bottom: 28px;
    }

    .projects__item {
        min-height: 106px;
    }

    .project-btn {
        top: 57%;
    }

    /** contacts **/

    .contacts__label {
        width: calc(50% - 10px);
    }

    .contacts__label:first-child {
        margin-bottom: 12px;
    }

    .contacts__label:nth-child(2) {
        margin-right: 0;
    }

    .contacts__form {
        flex-wrap: wrap;
    }

    .contacts__btn {
        padding: 10.5px 28px;
    }
}

@media (max-width: 680px) {
    .container {
        max-width: 680px;
        padding: 0 15px;
        margin: 0;
    }

    .title {
        font-weight: 400;
        font-size: 28px;
        line-height: 38px;
    }

    .title-low {
        font-weight: 600;
        font-size: 18px;
        line-height: 32px;
    }

    .header-top {
        padding: 11px 0 11px 0;
    }

    .burger {
        width: 25px;
        height: 18px;
    }

    .burger span {
        width: 16px;
    }

    .burger span, .burger::before,
    .burger::after {
        height: 2px;
    }

    .burger::before {
      transform: translateY(calc(-100% - 6px));
    }

    .burger::after {
        width: 10px;
        transform: translateY(calc(-100% + 10px));
    }

    .burger.is-opened {
        width: 15px;
        height: 15px;
    }

    .header-top__logo {
      margin-left: -6px;
      margin-top: 1px;
    }

    .is-opened.burger::before {
        width: 25px;
    }

    .is-opened.burger::after {
        width: 25px;
    }

    .header-top__nav {
        padding: 60px 0 25px 15px;
    }

    .header-top__nav-button {
        font-size: 12px;
        padding: 10px 31px;
    }

    .header-top__arrow {
        width: 14px;
        height: 9px;
    }

    .header-top__button-pic {
        width: 18px;
        height: 18px;
    }

    .search-form-top {
        width: calc(100% - 30px);
        right: 15px;
    }

    .search-form-top__send-pic {
        width: 16px;
        height: 16px;
    }

    .search-form-top__input {
        font-size: 14px;
        line-height: 20px;
        margin-right: 10px;
    }

    .search-form-top-line {
        width: 20px;
        height: 2px;
    }

    .hero__content {
        display: flex;
        padding: 29px 13px 45px 13px;
        flex-direction: column;
        align-items: center;
    }

    .hero__title {
        width: 100%;
        text-align: center;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        margin-bottom: 2px;
    }

    .hero__text {
        text-align: center;
        width: 94%;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 41px;
        margin-top: 0;
    }

    .hero__btn {
        padding: 12.5px 19.5px 12.5px 20.5px;
        font-size: 12px;
        line-height: 16px;
    }

    /** about **/

    .about__content {
        padding: 50px 0 41px 0;
    }

    .about__title {
        margin-bottom: 12px;
    }

    .about__text {
        font-weight: 400;
        font-size: 14px;
        line-height: 28px;
    }

    /** gallery **/

    #gallery {
        padding: 50px 0 49px 0;
    }

    .gallery-content-left {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .gallery-content-left-top__title {
        margin-bottom: 13px;
    }

    .gallery-content-left-top__text {
        margin-bottom: 4px;
    }

    .choices:last-child {
        margin-bottom: 31px;
    }

    .gallery-list {
        margin-bottom: -1px;
        margin-left: 0;
    }

    .gallery-swiper {
        padding: 0;
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .gallery-navigation {
        margin-bottom: 0;
        margin-top: 20px;
    }

    .gallery-slide {
        min-height: 367px;
    }

    .choices {
        min-width: 290px;
    }

    /** catalog **/

    .catalog-content {
        padding: 49px 0 50px 0;
    }

    .catalog-content-top {
        margin-bottom: 12px;
    }

    .catalog-content-bottom-left {
        margin-right: 0;
    }

    .catalog-content-bottom-right {
        margin-bottom: 50px;
    }

    .catalog-content-top__title {
        margin-bottom: 0;
    }

    .catalog-content-top__text {
        display: none;
    }

    .accordion__header {
        padding: 20px 0;
    }

    .accordion__header svg {
        width: 30px;
        height: 30px;
        margin-top: -15px;
    }

    .accordion__list {
        column-count: 1;
        padding: 21px 0;
    }

    .accordion__content-wrapper {
        padding: 21px 0;
    }

    .accordion__pic {
        padding: 6px;
    }

    .accordion__content-text {
        width: 100%;
        font-size: 15px;
    }

    .catalog-content-bottom-left__img {
      margin-bottom: 17px;
  }

    .catalog-content-bottom-left__title {
        font-size: 24px;
        margin-bottom: 8px;
    }

    .catalog-content-bottom-left__date {
        margin-bottom: 13px;
    }

    /** events **/

    .events__content {
        padding: 0 0 80px 0;
    }

    .events__title {
        margin-bottom: 12px;
    }

    .events__item-content {
        padding: 17px 18px 50px 22px;
    }

    .events__item-content-top {
        margin-bottom: 52px;
    }

    .events__time {
        margin-bottom: 11px;
    }

    .events__title-low {
        font-size: 24px;
    }

    .events__link {
        margin-left: 7px;
        margin-bottom: 0;
    }

    .swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
        bottom: -34px;
    }

    .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
        margin: 0 var(--swiper-pagination-bullet-horizontal-gap,7px);
    }

    /**project **/

    #projects {
      padding-top: 0;
    }

    .projects__content {
        padding-bottom: 47px;
    }

    .projects__title {
        margin-bottom: 13px;
    }

    .projects__text {
        margin-bottom: 50px;
    }

    .projects__title-low {
        margin-bottom: 10px;
    }

    .project-container {
        width: calc(100% - 95px);
        max-height: 65px;
    }

    .projects__item {
        min-height: 65px;
    }

    /** contacts **/

    #contacts {
        padding: 0 0 20px 0;
        border: none;
    }

    .contacts__content-left {
        margin-bottom: 13px;
    }

    .contacts__title {
        margin-bottom: -7px;
    }

    .contacts__content-middle {
        margin-bottom: 21px;
    }

    .contacts__label {
        width: 100%;
    }

    .contacts__label:first-child {
        margin-right: 0;
    }

    .contacts__label:not(:last-child) {
        margin-bottom: 20px;
    }

    .contacts__input {
        margin-right: 0;
        padding: 3px 36px 3px 24px;
    }

    .contacts__btn {
        padding: 10px 25px;
        font-size: 12px;
        line-height: 16px;
    }

    .contacts__content-right-title {
        margin-bottom: 7px;
        font-weight: 400;
    }

    .contacts-list__link svg {
        width: 50px;
        height: 50px;
    }

    /** footer **/

    #footer {
        padding: 20px 0;
    }

    .footer__content {
        flex-direction: column-reverse;
    }

    .footer__list {
        margin-bottom: 20px;
    }
}
